<div class="home-page" ng-controller="HomeCtrl as home">
  <section class="chat-room-container">
    <div class="title">
      <p>{{home.title}}  <button class="new-room-button"type="button" class="btn btn-default" ng-click="$ctrl.open()" ng-controller="ModalCtrl as $ctrl">New room</button></p>
    </div>
    <div class="chat-rooms" ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)">
      <div class="rooms">
        {{room.name}}
      </div>
    </div>
  </section>
  <section class="messages-container">
    <h2>Room: {{home.currentRoom.name}}</h2>
  <div class="messages" ng-repeat="message in home.messages">
    <p>
      {{message.username}}:
    </p>
    <p>
      {{message.content}}
    </p>
    <p class="date">
      {{message.sentAt}}
    </p>
  </div>
  </section>
  <div class="send-message">
    <input class="send-message-text-field" ng-model="home.message" type="text" name="message">
    <button class="send-button" type="button" ng-click="home.send(home.message)">Send</button>
  </div>

</div>
